/*
tag: HTML标签
code: 行内代码语句
.md-fences: 代码块
blockquote: 引用
*/

*,
code,
tag {
  font-family: 'Courier New', '华文细黑', 'Ubuntu Mono', 'Open Sans',
    'Clear Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  line-height: 1.5;
}

/* 行内代码语句 */
code {
  padding: 2px 2px 2px 2px;
  color: red;
  border: 0;
  border-radius: 0;
  font-size: 0.9em;
}

a {
  text-decoration: none;
}

/* Code Block Style，代码块 */
.md-fences {
  border-radius: 2px;
  border: 0px solid rgb(248, 248, 248);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 10px 10px 10px;
}

/* 引用 形如>开头的部分 */
blockquote {
  border-left: 5px solid #c1c1c1;
  border-bottom: 1px solid rgb(248, 248, 248);
  border-top: 1px solid rgb(248, 248, 248);
  border-right: 1px solid rgb(248, 248, 248);
  padding: 5px 5px 5px 10px;
  background-color: rgb(248, 248, 248);
}
